*{
    margin: 0px;
    padding: 0px;
    

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    cursor: pointer;
    top: 0;
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
    
    
}
.nav-list li{
    list-style: none;
    color: white;

}
.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 26px 24px;
    font-size: 20px;

}
#search{
    font-size: 13px;
    border: 2 px solid white;
    border-radius: 20px;
}



.rightnav{
    width: 50%;
    text-align: right;
}
.logo img{
    width: 70px;
    border: 2px solid white;
    border-radius: 50px;

}
.background{
    background: rgba(0, 0, 0, 0.7)url(dubai2.jfif);
    background-size: cover;
     background-blend-mode:darken ;
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    height: 80%;
  
    
    margin: auto;
}
.firsthalf{
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.secondhalf{
    width: 30%;
   
    


}
.secondhalf img{
    width: 70%;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}
.firstsection{
    height: 67vh;
}
.big-text{
    font-size: 1.5rem;
}
.btn{
    background:none ;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px 8px;
    cursor: pointer;
}
.secright{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}
.paras{
    padding: 0px 65px;
    margin-bottom: 23px;
}
.secleft{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    padding: 34px 0px;
}
 .contact{
    height: 45vh;
    background-color: #e6e8e7;
 }
  .contacts{
   text-align: center;
  }
 .form{
   margin: auto;
   max-width: 344px;
 }
 .form input{
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    width: 100%;
    margin: 30px 0px;
 }
 .text-center{
    text-align: center;
    background-color: black;
    color: white;
 }
 .btn1{
      
    font-size: 20px;
    margin-right: 277px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 2px;
}

@media only screen and (max-width: 1140px){

.nav-list{
    flex-direction: column;
}

.navbar{
    flex-direction: column;
}
.rightnav{
    text-align: center;
}
#search{
    width: 100%;
}





}
    

      
      
